

@font-face {
  font-family: 'Avenir';
  src: url(../../assets/font/AvenirNextLTPro-Regular.otf) format("OpenType");
  src: url(../../assets/font/alternativefiles/AvenirNextLTPro.ttf) format("truetype");
  font-weight: 400;
  
}
@font-face {
  font-family: 'Avenir';
  src: url(../../assets/font/AvenirNextLTPro-Demi.otf) format("OpenType");
  src: url(../../assets/font/alternativefiles/AvenirNextLTProDemi.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: 'Avenir';
  src: url(../../assets/font/AvenirNextLTPro-Bold.otf) format("OpenType");
  src: url(../../assets/font/alternativefiles/AvenirNextLTProBold.ttf) format("truetype");
  font-weight: 700;
}
